@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
.home-banner{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 98rem;
    margin: auto;
}
.home-banner img{
    width: 100%;
    height: 260px;
    border-radius: 10px;
}
section.s1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    flex-wrap: wrap;
    color: #0f2027;
}
.section-item {
    text-align: center;
    width: 230px;
    height: 120px;
    margin: 20px;
    background-color: #f0f0f0;
    padding: 10px;
    border: none;
    border-radius: 20px;
    box-sizing: border-box;
    position: relative;
    font-family: "Montserrat", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* .section-item h1 {
    margin: 0;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 16px;
} */

.section-item p {
    margin: 0px;
    font-size: 12px;
    font-weight: 500;
    padding-left: 20px;
    padding-right: 20px;
    line-height: 1;
}

.section-item button {
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    padding: 8px 30px;
    background-color: #ed5d1f;
    color: #fff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}
.section-item button:hover{
    box-shadow: 0px 1px 4px 3px rgb(255, 160, 136);
}
section.body-s1 {
    color: #052027;
    margin-top: 50px;
    background-image: url(whirlpool.png);
    height: auto;
    padding-bottom: 50px;
}
.title-qs{
    text-align: center;
    margin-top: 40px;
    color: #0f2027;
}
.faq {
    width: 45%;
    background-color: white;
    border-radius: 10px;
    margin: 0 auto;
    padding: 0 20px;
    margin-bottom: 30px;

}

.question {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.question-text{
    color: #0f2027;
}

.collapsible {
    background-color: #ed5d1f;
    padding: 5px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    outline: none;
    margin-left: 20px;
}
.collapsible img{
    width: 14px;
    height: 13px;
    filter: invert(100%);
}

.content {
    padding-right: 10px;
    text-align: justify;
    color: #0f2027;
    overflow: hidden;
    transition: height 0.7s ease-in-out;
    height: 0;
}
.content ul {
    margin-top: 0;
    list-style: none;
    padding-left: 0;
    counter-reset: listItem;
}

.content ul li {
    position: relative;
    margin-bottom: 10px; 
}

.content ul li::before {
    content: counter(listItem);
    counter-increment: listItem;
    background-color: #f0f0f0;
    color: black;
    font-weight: bold;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    text-align: center;
}

.content ul li a {
    font-weight: bold;
    color: black;
}

.content .icon-inf{
    width: 20px;
    height: 20px;
    margin-right: 5px;
    /* vertical-align: middle; */
}
.collapsible img {
    width: 14px;
    height: 12px; 
}
.home-contact{
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
}
.home-contact h1{
    color: #0f2027;
    margin-bottom: 20px;
}
.home-contact .container-cards{
    margin-top: 30px;
    margin-bottom: 20px;
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.home-contact .card-info{
    height: 280px;
    width: 220px;
    /* background-color: #f0f0f0; */
    background-image: url(whirlpool.png);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-right: 60px;
    transition: transform 0.3s ease;
}
.home-contact .card-info:hover {
    transform: scale(1.1);
}
.home-contact .card-info:last-child{
    margin-right: 0px;
}
.home-contact .card-info h1{
    font-weight: 700;
    font-size: 20px;
    color: #0f2027;     
}
.home-contact .card-info img{
    margin: 30px;
    width: 80px;
    height: 80px;
    filter: sepia(70%) saturate(800%) hue-rotate(185deg);
}
.home-contact .card-info:last-child img {
    width: 70px;
    height: 70px;
}
.home-contact .card-info p{
    color: #0f2027;
}


@media (max-width: 1600px){
    .home-banner img{
        padding: 0 1rem;
    }
    .section-item p {
        padding-left: 0;
        padding-right: 0;
    }
    .section-item button {
        padding: 8px 20px;
    }
}
@media only screen and (max-width: 1200px) {
    .section-item {
        margin-bottom: 30px;
    }
    .section-item p {
        padding-left: 10;
        padding-right: 10;
    }
    .faq {
        width: 80%;
    }

    .collapsible {
        background-color: #ed5d1f;
        padding: 3px 5px;
    }  

}
@media only screen and (max-width: 992px) {
    .home-contact .container-cards{
        flex-direction: column;
    }
    .home-contact .card-info{
        margin-right: 0px;
        margin-bottom: 30px;
    }
}

@media only screen and (max-width: 768px) {
    .faq {
        width: 85%;
    }

    .collapsible {
        background-color: #ed5d1f;
        padding: 3px 5px;
    }
    .section-item {
        width: 200px;
        height: 120px;
        margin: 10px;
    }    
    .section-item h1 {
        font-size: 12px;
        padding: 0;
    }
    .section-item p{
        font-size: 10px;
    }
    .home-banner img {
        content: url('../../assets/img/home_movil.png');
    }
}

@media only screen and (max-width: 576px) {
    .section-item {
        width: 160px;
        height: 120px;
        margin: 18px;
    }  
    .section-item button {
        padding: 8px 10px;
        font-size: 10px; 
    }
}
@media only screen and (max-width: 416px) {
    .faq {
        width: 85%;
    }
    .collapsible {
        background-color: #ed5d1f;
        padding: 3px 5px;
    }    

    .collapsible img{
        width: 12px;
        height: 10px;
    }
}

